<nz-tabset style="padding: 16px">
  @for (tab of tabs; track tab) {
  <nz-tab [nzTitle]="tab.name" [nzDisabled]="tab.disabled">
    <div nz-flex nzGap="small" style="margin-bottom: 16px">
      <button nz-button nzType="default" (click)="createTask()">
        <!-- <nz-icon nzType="search" /> -->
        New Task
      </button>

      <button nz-button nzType="default">
        <!-- <nz-icon nzType="search" /> -->
        Person
      </button>

      <button nz-button nzType="default">
        <!-- <nz-icon nzType="search" /> -->
        Search
      </button>

      <button nz-button nzType="default">
        <!-- <nz-icon nzType="search" /> -->
        Short
      </button>
    </div>

    <nz-table
      #basicTable
      [nzData]="data"
      [nzBordered]="true"
      [nzSize]="'middle'"
    >
      <thead>
        <tr>
          <th
            [nzChecked]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>Task</th>
          <th>Developer</th>
          <th>Status</th>
          <th>Type</th>
          <th>Date</th>
          <th>Estimated SP</th>
          <th>Actual SP</th>
        </tr>
      </thead>
      <tbody>
        @for(row of data; track row) {
        <tr>
          <td
            [nzChecked]="setOfCheckedId.has(row.title)"
            [nzLabel]="row.title"
            (nzCheckedChange)="onItemChecked(row.title, $event)"
          ></td>

          <td>
            <div
              class="editable-cell"
              [hidden]="editId === row.id && editCol === 'title'"
              (click)="startEdit(row.id, 'title')"
            >
              {{ row.title }}
            </div>
            <input
              [hidden]="editId !== row.id || editCol !== 'title'"
              type="text"
              nz-input
              [(ngModel)]="row.title"
              (blur)="stopEdit()"
            />
          </td>

          <td>
            <div
              class="editable-cell"
              [hidden]="editId === row.id && editCol === 'developer'"
              (click)="startEdit(row.id, 'developer')"
            >
              {{ row.developer }}
            </div>

            <nz-select
              nzPlaceHolder="Select status"
              nzMode="multiple"
              [hidden]="editId !== row.id || editCol !== 'developer'"
              style="width: 100%"
              (blur)="stopEdit()"
            >
              @for(option of developerOptions; track option ) {
              <nz-option
                [nzValue]="option.value"
                [nzLabel]="option.label"
                [(ngModel)]="row.developer"
              ></nz-option>
              }
            </nz-select>
          </td>

          <td>{{ row.status }}</td>
          <td>{{ row.type }}</td>
          <td>-</td>

          <td>
            <div
              class="editable-cell"
              [hidden]="editId === row.id && editCol === 'estimaedSp'"
              (click)="startEdit(row.id, 'estimaedSp')"
            >
              {{ row.estimatedSp }} SP
            </div>
            <input
              [hidden]="editId !== row.id || editCol !== 'estimaedSp'"
              type="number"
              nz-input
              [(ngModel)]="row.estimatedSp"
              (blur)="stopEdit()"
            />
          </td>

          <td>
            <div
              class="editable-cell"
              [hidden]="editId === row.id && editCol === 'actualSp'"
              (click)="startEdit(row.id, 'actualSp')"
            >
              {{ row.actualSp }} SP
            </div>
            <input
              [hidden]="editId !== row.id || editCol !== 'actualSp'"
              type="number"
              nz-input
              [(ngModel)]="row.actualSp"
              (blur)="stopEdit()"
            />
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
  </nz-tab>
  }
</nz-tabset>
