/* You can add global styles to this file, and also import other style files */

:root {
  background-color: #141a33;
  color: #989daf;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
